@import '~bootstrap/scss/bootstrap';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-- SIGNUP SCREEN --*/

.signup {
  width: 100vw;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-evenly;
}

.switchToLogin {
  background-color: white;
  border: 1px solid darkblue;
  border-radius: 5px;
  position: absolute;
  width: 10%;
  height: 30px;
  margin: 0 auto;
  top: 10vh;
  left: 80%;
  transition: 150ms;
}
.switchToLogin:hover {
  border: 1px solid darkblue;
  box-shadow: 2px 2px 2px darkblue;
  transform: scale(1.2);
}

.signupScreenMessage {
  display: none;
  position: relative;
  width: auto;
  height: 50px;
  left: 20px;
  top: 20px;
  background-color: lightseagreen;
}

.signup-form {
  position: absolute;
  left: 25vw;
  top: 25vh;
  border: 1px solid darkblue;
  box-shadow: 2px 2px 2px darkblue;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 50%;
  width: 50%;
}

.signup-form h2 {
  text-align: center;
  letter-spacing: 2px;
}

.signup-input{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid darkblue;
}

.signup-btn{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  transition: 200ms ease-in;
}

.signup-btn:hover {
  background-color: darkblue;
  border: 1px solid darkblue;
  color: white;
}


/*-- LOGIN SCREEN --*/

.loginScreen {
  width: 100vw;
  height: 100vh;
  display: none;
}

.signInScreenMessage {
  display: none;
  position: relative;
  width: auto;
  height: 50px;
  left: 20px;
  top: 20px;
  background-color: lightseagreen;
}

.signin-form {
  height: 50%;
  width: 50%;
  display: flex;
  position: absolute;
  left: 25vw;
  top: 25vh;
  border: 1px solid darkblue;
  box-shadow: 2px 2px 2px darkblue;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}

.signin-form h2 {
  text-align: center;
  letter-spacing: 2px;
}

.signin-input{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid darkblue;
}

.signin-btn{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  transition: 200ms ease-in;
}

.signin-btn:hover {
  background-color: darkblue;
  border: 1px solid darkblue;
  color: white;
}


/*-- Properties SCREEN --*/

.propertyScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.propertyTop {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid lightgray;
}

.propertyTop h2 {
  margin-right: 20px;
}

.propertyMessages {
  width: 100%;
  height: 15%;}

.propertyFunctionality{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.propertyFunctionality h3 {
  margin-left: 20px;
}

.propertyAddBtn {
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid darkblue;
  background-color: white;
  cursor: pointer;
  transition: 150ms ease-in;
}

.propertyAddBtn:hover {
  background-color: darkblue;
  color: white;
}

.propertyGrid {
  width: auto;
  height: 60%;
  margin: 25px 25px 25px 25px;
}

.property {
  border-radius: 10px;
  height: auto;
  width: 90%;
  padding: 10px;
  margin: 3px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid lightgray;
  transition: 150ms ease;
}

.property:hover {
  border: 1px solid darkblue;
}

.propBtn {
  border: 1px solid lightgray;
  color: lightgray;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.propBtn:hover {
  color: darkblue;
  border: 1px solid darkblue;
}

.bottom {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutBtn {
  padding: 10px;
  background-color: white;
  border: 1px solid darkblue;
  border-radius: 10px;
  cursor: pointer;
  transition: 150ms ease-in;
}

.logoutBtn:hover {
  background-color: darkblue;
  color: white;
}

/*-- Property FORM Screen --*/

.propertyFormScreen {
  height: 100vh;
  width: 100vw;
}

.propertyFormScreenTop {
  height: 10%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.propertyFormScreenBack {
  background-color: white;
  border: 1px solid darkblue;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: 150ms ease-in;
}

.propertyFormScreenBack:hover {
  color: white;
  background-color: darkblue;
}

.propertyFormScreenTop h2 {
  margin-right: 20px;
}

.propertyForm {
  border: 1px solid darkblue;
  box-shadow: 3px 3px 3px darkblue;
  border-radius: 20px;
  width: 80%;
  margin: 20px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.propertyForm h2 {
  text-align: center;
  letter-spacing: 2px;
  margin: 15px auto;
}

.propertyFormInput {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  margin: 5px auto;
  border-radius: 10px;
}

.propertyFormBtn {
  width: 30%;
  margin: 10px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid darkblue;
  background-color: white;
  transition: 150ms ease-in;
  border-radius: 10px;
  cursor: pointer;
}

.propertyFormBtn:hover {
  background-color: darkblue;
  color: white;
}


/*-- Tenant Screen --*/

.tenantScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tenantScreenTop {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.tenantScreenTop h2 {
  margin-right: 20px;
}

.tenantScreenBackBtn {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

.tenantScreenBackBtn:hover {
  border: 1px solid darkblue;
  background-color: darkblue;
  color: white;
}

.tenantScreenBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.propDetailsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  margin: 5vh auto;
  min-height: 50%;
  height: 50%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid darkblue;
}

.propertyDetailsInfo {
  width: 90%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.propertyEditForm {
  width: 90%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.propertyEditForm input {
  background-color: white;
  border: 1px solid darkblue;
  border-radius: 5px;
  padding: 8px;
}

.confirmDeleteContainer {
  width: 90%;
  margin: 0 auto;
  height: 50%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.propDelete {
  border: 1px solid darkblue;
  border-radius: 5px;
  background-color: white;
  color: darkblue;
  cursor: pointer;
  transition: 250ms ease-in;
  width: 100%;
  margin: 2px auto;
  padding: 5px
}

.propDelete:hover {
  background-color: darkblue;
  color: white;
}

.yesDeleteProp {
  padding: 10px;
  border: 1px solid black;
  background: white;
  color: black;
  width: 100%;
  border-radius: 10px;
  transition: 150ms ease-in-out;
}

.yesDeleteProp:hover {
  background-color: lightgreen;
}

.noDeleteProp {
  padding: 10px;
  border: 1px solid black;
  background: white;
  color: black;
  width: 100%;
  border-radius: 10px;
  transition: 150ms ease-in-out;
  margin-top: 10px;
}

.noDeleteProp:hover {
  background-color: lightsalmon;
}

.tenantContainer {
  width: 40%;
  height: 50%;
  margin: 5vh auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid darkblue;
}

.tenantFunctionality{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.tenantFunctionality h3 {
  margin-left: 20px;
}

.tenantAddBtn {
  border: 1px solid darkblue;
  border-radius: 5px;
  background-color: white;
  color: darkblue;
  cursor: pointer;
  transition: 250ms ease-in;
  width: 100%;
  margin: 2px auto;
  padding: 5px
}

.tenantAddBtn:hover {
  background-color: darkblue;
  color: white;
}

.tenantGrid {
  width: 100%;
  height: 60%;
}

.tenant {
  height: fit-content;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  transition: 150ms ease-in-out;
}

.tenant:hover {
  background-color: darkblue;
  color: white;
}

.tenantDetailsBtn {
  border: 1px solid darkblue;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}


/*-- Tenant Form Screen --*/

.tenantFormScreen {
  height: 100vh;
  width: 100vw;
}

.tenantFormScreenTop {
  height: 10%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.tenantFormScreenTop button {
  background-color: white;
  border: 1px solid darkblue;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: 1s ease-in-out;
}

.tenantFormScreenTop button:hover {
  color: white;
  background-color: darkblue;
}

.tenantFormScreenTop h2 {
  margin-right: 20px;
}

.tenantForm {
  border: 1px solid darkblue;
  box-shadow: 3px 3px 3px darkblue;
  border-radius: 20px;
  width: 80%;
  margin: 20px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tenantForm h2 {
  text-align: center;
  letter-spacing: 2px;
  margin: 15px auto;
}

.tenantFormInput {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  margin: 5px auto;
  border-radius: 10px;
}

.tenantFormBtn {
  width: 30%;
  margin: 10px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid darkblue;
  background-color: white;
  transition: 150ms ease-in;
  border-radius: 10px;
  cursor: pointer;
}

.tenantFormBtn:hover {
  background-color: darkblue;
  color: white;
}


/*-- Tenant Details Screen --*/

.tenantInfoScreen {
  width: 100vw;
  height: 100vh;
}

.tenantInfoTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid lightgray;
}

.tenantInfoTop button {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  transition: 150ms ease-in;
}

.tenantInfoTop button:hover {
  color: white;
  background-color: darkblue;
}

.tenantInfoTop h2 {
 margin-right: 20px;
}

.tenantInfoSection {
  margin-top: 20px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.tenantInformation {
  width: 50%;
  margin-left: 30px;
}

.tenantInformation p {
  margin-left: 10px;
}

.tenantInfoMessages {
  background-color: lightgray;
  margin-right: 20px;
  border-radius: 10px;
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenantInfoFunctionality {
  border-bottom: 1px solid lightgray;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.tenantInfoFunctionality button {
  padding: 10px;
  background: white;
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 20px;
  transition: 150ms ease-in;
}

.tenantInfoFunctionality button:hover {
  color: white;
  background-color: darkblue;
}

.tenantInfoFunctionality h2 {
  margin-left: 20px;
}

.tenantInfoPaymentHistory {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tenantInfoPaymentHistory h4 {
  text-align: center;
}

.paymentHistoryData {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
