*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-- SIGNUP SCREEN --*/

.signup {
  width: 50%;
  height: 50vh;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid darkblue;
  box-shadow: 2px 2px 2px darkblue;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 100%;
  width: 50%;
}

.signup-form h2 {
  text-align: center;
  letter-spacing: 2px;
}

.signup-input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid darkblue;
}

.signup-btn{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  transition: 200ms ease-in;
}

.signup-btn:hover {
  background-color: darkblue;
  border: 1px solid darkblue;
  color: white;
}


/*-- LOGIN SCREEN --*/

.login {
  width: 50%;
  height: 50vh;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid darkblue;
  box-shadow: 2px 2px 2px darkblue;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 100%;
  width: 50%;
}

.signin-form h2 {
  text-align: center;
  letter-spacing: 2px;
}

.signin-input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid darkblue;
}

.signin-btn{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  transition: 200ms ease-in;
}

.signin-btn:hover {
  background-color: darkblue;
  border: 1px solid darkblue;
  color: white;
}


/*-- Properties SCREEN --*/

.propertyScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.propertyTop {
  width: 100%;
  height: 10%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid lightgray;
}

.propertyTop h2 {
  background-color: lightgreen;
  margin-right: 20px;
}

.messages {
  width: 100%;
  height: 10%;
  background-color: lightsalmon;
  display: none
}

.propertyFunctionality{
  width: 100%;
  height: 10%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.propertyFunctionality h3 {
  background-color: lightgreen;
  margin-left: 20px;
}

.propertyAddBtn {
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.propertyGrid {
  width: 100%;
  height: 60%;
  background-color: lightgreen;
}

.property {
  height: 10%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.propBtn {
  border: 1px solid black;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
}

.bottom {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
}

.logoutBtn {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

/*-- New Property Screen --*/

.propertyFormScreen {
  height: 100vh;
  width: 100vw;
}

.propertyFormScreenTop {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.propertyFormScreenTop button {
  background-color: white;
  border: 1px solid black;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
}

.propertyFormScreenTop h2 {
  margin-right: 20px;
}

.propertyForm {
  border: 1px solid darkblue;
  box-shadow: 3px 3px 3px darkblue;
  border-radius: 20px;
  width: 80%;
  margin: 20px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.propertyForm h2 {
  text-align: center;
  letter-spacing: 2px;
  margin: 15px auto;
}

.propertyFormInput {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  margin: 5px auto;
  border-radius: 10px;
}

.propertyFormBtn {
  width: 30%;
  margin: 10px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid darkblue;
  background-color: white;
  transition: 150ms ease-in;
  border-radius: 10px;
  cursor: pointer;
}

.propertyFormBtn:hover {
  background-color: darkblue;
  color: white;
}
